/*
*   ETML
*   Auteur :        Jérôme Wassenberg
*   Date :          29.05.2017
*   Description:    Feuille de style du header
*/

*{
    padding: 0;
    margin: 0;
    list-style-type:none;
    font-family: Arial, sans-serif;
}