/*
*   ETML
*   Auteur :        Jérôme Wassenberg
*   Date :          29.05.2017
*   Description:    Feuille de style du header
*/

/*********PHOTO************/

#photo{
    width: 35vmin;
    height: 45vmin;
    border: 1px solid gray;
    box-shadow: 10px 10px 70px -4px rgba(0,0,0,0.59);
    float: left;
}

/*********TEXT-DROITE************/

#infosP1{
    width: 40%;
    text-align: left;
    border: 1px solid gray;
    float: left;
    margin-left: 2vmin;
    padding: 1vmin 0 0 1vmin  ;
}

/*********INFOS-INFERIEURES*****/

.title{
    font-size: 2vmin;
    font-weight: bold;
    width: 100%;
    height: 2vmin;
    float: left;
    text-align: left;
}

#infosP2{
    padding: 1%;
    margin-top: 1vmin;
    text-align: left;
    width: 98%;
    height: 10%;
    border: 1px solid gray;
    float: left;
}

/**********COMMUN*************/

.infos{
    font-size: 2vmin;
    margin-bottom: 2vmin;
}

/*********RESPONSIVE*********/

@media screen and (max-width : 1380px) {

    #photo{
        margin: auto;
        float: none;
    }

    #infosP1{
        padding: 2%;
        margin: 1vmin auto;
        width: 96%;
        float: none;
    }

    #infosP2{
        float: none;
    }

    .title{
        float: none;
    }
}