section{
    margin: auto;
    width: 99.9%;
    height: auto;
}

#container{
    margin: auto;
    width: 70%;
    min-height: 70%;
    height: auto !important;
    bottom: 0;
    padding: 2%;
    background-color: #c69cba;
}

#title{
    color: white;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: 1% 2% 2% 2%;
    width: 70%;
    height: 1vmin;
    background-color: #af8ba4;
}

#formulaire{
    margin: auto;
    height: auto; !important;
    padding: 2%;
    width: 50%;
    min-height: 70%;
    background-color: white;
    box-shadow: 10px 10px 70px -4px rgba(0,0,0,0.59);
}

.input{
    display: block;
    width: 27vmin;
    height: 3vmin;
    margin-bottom: 2vmin;
}

textarea{
    width: 100%;
    height: 20vmin;
    resize: none;
}

#file{
    width: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.button{
    padding: 1vmin;
    border: 1px solid gray;
    width: 10vmin;
    margin: auto;
}

#buttons{
    text-align: center;
    margin-top: 5%;
}

@media screen and (max-width : 1455px) {

    #buttons{
        text-align: center;
        padding: 5%;
        height: auto;
    }
    .button{
        margin: auto;
        font-size: 1.8vmin;
    }

    .label{
        float: left !important;
        width: 100%;
    }

    .label .input{
        width: 100% !important;
        font-size: 1.8vmin;
    }

    textarea{
        float: left !important;
        margin-bottom: 3vmin;
    }

    #formulaire{
        height: auto !important;
        min-height: 0;
    }

    .titleInput{
        font-size: 1.8vmin;
    }

    #title{
        font-size: 2vmin;
    }

    #container{
        min-height: 0;
        height: auto;!important;
    }
}