/*
*   ETML
*   Auteur :        Jérôme Wassenberg
*   Date :          29.05.2017
*   Description:    Feuille de style du menu de navigation responsive
*/

/*Strip the ul of padding and list styling*/
#menu {
    position: absolute;
}

nav{
    margin-left: 8vmin;
}

/*Create a horizontal list with spacing*/
.li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}

/*Style for menu links*/
.li a {
    font-size: 130%;
    margin-left: 10vmin;
    margin-top: -40px;
    display: block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;

    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*Hover state for top level links*/
.li:hover a {
    color: #3b3b3b;
}

/*Style for dropdown links*/
.li:hover ul a {
    background: #f3f3f3;
    color: white;
    height: 40px;
    line-height: 40px;
}

/*Hover state for dropdown links*/
.li:hover ul a:hover {
    background: #cb9fbe;
    color: #fff;
}

/*Hide dropdown links until they are needed*/
.li ul {
    display: none;
}

/*Make dropdown links vertical*/
.li ul li {
    display: block;
}

/*Prevent text wrapping*/
.li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

/*Display the dropdown on hover*/
#menu li a:hover + .hidden, .hidden:hover {
    display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #f0f0f0;
    background: #cb9fbe;
    text-align: center;
    padding: 10px 0;
    display: none;
    width: 20%;
    float: right;
}

/*Hide checkbox*/
#show-menu[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
#show-menu[type=checkbox]:checked ~ #menu{
    display: block;
}

/*Responsive Styles*/

@media screen and (max-width : 1050px){
    /*Make dropdown links appear inline*/
    #menu {
        position: static;
        display: none;
        margin-left: 50%;
    }
    /*Create vertical spacing*/
    .li {
        margin-bottom: 1px;
        overflow: hidden;
    }
    /*Make all menu links full width*/
    #menu li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
        margin-top: -50px;
        margin-right: 20%;
    }

    .li a{
        display: inline;
        color: black;
    }

    .li:hover a {
        color: #3b3b3b;
    }
}