/*
*   ETML
*   Auteur :        Jérôme Wassenberg
*   Date :          29.05.2017
*   Description:    Feuille de style de la page de visualisation des élèves
*/

#marge{
    display: inline-block;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

label, select, span{
    border: none;
    width: 12vmin;
    height: 3vmin;
    border-radius: 5px;
}

#title span{
    font-size: 2vmin;
}

#title h1{
    margin: auto;
    font-size: 3vmin;
    width: 30vmin;
}

#cartesStudent-teacher{
    margin-top: 3vmin;
    min-height: 30vmin;
    height: auto;
    width: 20vmin;
    box-shadow: 10px 10px 70px -4px rgba(0,0,0,0.59);
    padding: 2vmin;
    background-color: #ede8df;
}

#cartesStudent-teacher img{
    border: 1px solid #4a4b4b;
    height: 25vmin;
    width: 20vmin;
}

#cartesCours{
    margin-top: 3vmin;
    height: 40vmin;
    width: 50vmin;
    box-shadow: 10px 10px 70px -4px rgba(0,0,0,0.59);
    padding: 2vmin;
    background-color: #ede8df;
}

#name, #name:link, #name:visited, #name:active{
    color: black;
    text-decoration: none !important;
    font-size: 2vmin;
}

#infos{
    margin-top: 1vmin;
}

#addButton{
    width: 15vmin;
    height: 3vmin;
}

#image{
    width: 50vmin;
    height: 30vmin;
    margin-bottom: 1vmin;
}

#image img{
    border: 1px solid #4a4b4b;
    height: 100%;
    width: 100%;
}

.sendAndCancelButton{
    width: 10vmin;
    height: 4vmin;
}

.label{
    width: 10vmin;
    height:5vmin;
}

#checkbox{
    border-radius: 5px;
    background-color: #d8abcb;
    height: 3vmin;
    padding: 1vmin;
}

#checkbox input{
    width: 2vmin;
    height: 2vmin;
}

@media screen and (max-width : 1050px) {
    #en-tete-list{
        height: 7vmin;
    }
}